.team-member {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	align-content: center;
}

.member-image {
	width: 150px;
	height: 150px;
}

.probootstrap-hero .intro-text .probootstrap-heading {
  font-weight: 600;
}

.probootstrap-heading-2 {
	font-weight: 600;
}